In [1]:
import numpy as np
import pandas as pd

from src.constant import DATA_DIR, DATABASE_DIR, MAIN_DIR
from src.database import DB
from src.database.queries import *
from src.instance.InstanceList import InstanceList
from src.instance.TSP_Instance import TSP_from_index_file
from src.solver.TSP_LKH_Solver import TSP_LKH_Solver

In [2]:
# MAX_COST = 8.9
# MAX_TIME = 0.89
# MAX_COST = 4.7
# MAX_TIME = 0.47
# DIR = DATABASE_DIR
# DIR = (MAIN_DIR / "_archive" / "experiments" / "2025-03-05" / "10" / "200" / "database")
# DIR = (MAIN_DIR / "_archive" / "experiments" / "2025-03-05" / "531" / "200" / "database")

# MAX_COST = 41.0
# MAX_TIME = 4.1
# MAX_COST = 21.8
# MAX_TIME = 2.18
# DIR = (MAIN_DIR / "_archive" / "experiments" / "2025-03-05" / "10" / "400" / "database")
# DIR = (MAIN_DIR / "_archive" / "experiments" / "2025-03-05" / "531" / "400" / "database")

# MAX_COST = 100.0
# MAX_TIME = 10.0
MAX_COST = 53.1
MAX_TIME = 5.31
# DIR = (MAIN_DIR / "_archive" / "experiments" / "2025-01-27" / "600" / "database")
DIR = (MAIN_DIR / "_archive" / "experiments" / "2025-03-05" / "531" / "600" / "database")

generators = [
    "cluster_netgen",
    "compression",
    "expansion",
    "explosion",
    "grid",
    "cluster",
    "implosion",
    "linearprojection",
    "rotation",
    "uniform_portgen",
]

test_instances = TSP_from_index_file(filepath=DATA_DIR / "TSP" / "TEST_600" / "index.json")

id_to_generator_name = {
    instance.id(): instance.filepath.parts[-2] for instance in test_instances
}

id_to_name = {
    instance.id(): instance.filepath.parts[-1] for instance in test_instances
}

In [17]:
def agg_prefix(prefix):

    frames = []

    def agg_cost(x):
        count = x.shape[0]
        x = x[x < 53.1]
        x = x.sort_values()
        idx = count // 2
        if x.shape[0] <= idx:
            return x.iloc[-1]
        return x.iloc[idx]
        

    for idx, db_path in enumerate(DIR.glob(f"{prefix}-*.db")):
        print(db_path)
        db = DB(db_path)
        results = pd.read_sql_query("SELECT * FROM results", db._conn)
        series = (
            results.loc[results["prefix"].str.startswith("test")]
            .groupby(["instance_id", "prefix"])["cost"]
            .min()
            .reset_index()
            .groupby("instance_id")["cost"]
            .agg(agg_cost)
        )
        frames.append(series)
        

    df = (
        pd.concat(frames, axis=1)
        .mean(axis=1)
        .round(3)
        .rename(prefix)
        .to_frame()
    )

    df["generator"] = df.index.map(id_to_generator_name)
    df["name"] = df.index.map(id_to_name)
    df = df.pivot_table(index="generator", columns="name", values=prefix).loc[generators, :]
    return df

n = 500
plain = agg_prefix(f"run-plain-{n}")
plain = plain.assign(generator=f"plain-{n}").set_index("generator", append=True)

C:\Users\zakrz\Documents\DataScience\praca magisterska\raw-algorithm-portfolios-main\_archive\experiments\2025-03-05\531\600\database\run-plain-500-982909.db
C:\Users\zakrz\Documents\DataScience\praca magisterska\raw-algorithm-portfolios-main\_archive\experiments\2025-03-05\531\600\database\run-plain-500-982910.db
C:\Users\zakrz\Documents\DataScience\praca magisterska\raw-algorithm-portfolios-main\_archive\experiments\2025-03-05\531\600\database\run-plain-500-982911.db
C:\Users\zakrz\Documents\DataScience\praca magisterska\raw-algorithm-portfolios-main\_archive\experiments\2025-03-05\531\600\database\run-plain-500-982912.db
C:\Users\zakrz\Documents\DataScience\praca magisterska\raw-algorithm-portfolios-main\_archive\experiments\2025-03-05\531\600\database\run-plain-500-982913.db
C:\Users\zakrz\Documents\DataScience\praca magisterska\raw-algorithm-portfolios-main\_archive\experiments\2025-03-05\531\600\database\run-plain-500-982914.db
C:\Users\zakrz\Documents\DataScience\praca magisterska\raw-algorithm-portfolios-main\_archive\experiments\2025-03-05\531\600\database\run-plain-500-982915.db
C:\Users\zakrz\Documents\DataScience\praca magisterska\raw-algorithm-portfolios-main\_archive\experiments\2025-03-05\531\600\database\run-plain-500-982916.db
C:\Users\zakrz\Documents\DataScience\praca magisterska\raw-algorithm-portfolios-main\_archive\experiments\2025-03-05\531\600\database\run-plain-500-982917.db
C:\Users\zakrz\Documents\DataScience\praca magisterska\raw-algorithm-portfolios-main\_archive\experiments\2025-03-05\531\600\database\run-plain-500-982918.db

In [30]:
def agg_cost(x):
    count = x.shape[0]
    x = x[x < 53.1]
    x = x.sort_values()
    idx = count // 2
    if x.shape[0] <= idx:
        return x.iloc[-1]
    return x.iloc[idx]

db_path = DIR / f"run-plain-30-981927.db"
db = DB(db_path)
results = pd.read_sql_query("SELECT * FROM results", db._conn)
series = (
    results.loc[results["prefix"].str.startswith("test")]
    .groupby(["instance_id", "prefix"])["cost"]
    .min()
    .reset_index()
    .groupby("instance_id")["cost"]
    .agg(agg_cost)
)
series

# frame = series.to_frame()
# frame["generator"] = frame.index.map(id_to_generator_name)
# frame["name"] = frame.index.map(id_to_name)
# frame = frame.pivot_table(index="generator", columns="name", values="cost").loc[generators, :]
# print(frame.mean().mean())
# # frame

# # 980931 --> 2.1948
# # 980935 --> 5.2959
# # 980937 --> 3.8926

DatabaseError: Execution failed on sql 'SELECT * FROM results': no such table: results

In [18]:
print(f"mean: {plain.mean().mean():.3f}")

mean: 0.681

In [12]:
df = plain.copy().sort_index(level=0).loc[generators]   
df["mean"] = df.mean(axis=1)

In [13]:
df.style.background_gradient(cmap="Reds", vmin=0, vmax=5).format("{:.3f}")

In [34]:
df.to_excel("tmp.xlsx")

In [19]:
def agg_prefix(prefix):
    times = {}
    for idx, db_path in enumerate(DIR.glob(f"{prefix}-*.db")):
        db = DB(db_path)
        results = pd.read_sql_query("SELECT * FROM results", db._conn)
        times[idx] = results.loc[
            results["prefix"].str.startswith("config")
            & results["cached"].eq(0)
            & results["surrogate"].eq(0),
            "time",
        ].sum() / 3600
    return np.round(pd.Series(times).mean(), 2)

plain = agg_prefix(f"run-plain-{n}")
print(f"plain: {plain:.2f} h")

plain: 90.02 h

In [20]:
# skip cutt-offs
def agg_prefix(prefix):
    times = {}
    for idx, db_path in enumerate(DIR.glob(f"{prefix}-*.db")):
        db = DB(db_path)
        print(db_path)
        results = pd.read_sql_query("SELECT * FROM results", db._conn)
        times[idx] = results.loc[
            results["prefix"].str.startswith("config")
            & results["cached"].eq(0)
            & results["surrogate"].eq(0)
            & results["cost"].lt(MAX_COST),
            "time",
        ].mean()
    return np.round(pd.Series(times).mean(), 2)

plain = agg_prefix(f"run-plain-{n}")
print(f"plain: {plain:.2f}")

C:\Users\zakrz\Documents\DataScience\praca magisterska\raw-algorithm-portfolios-main\_archive\experiments\2025-03-05\531\600\database\run-plain-500-982909.db
C:\Users\zakrz\Documents\DataScience\praca magisterska\raw-algorithm-portfolios-main\_archive\experiments\2025-03-05\531\600\database\run-plain-500-982910.db
C:\Users\zakrz\Documents\DataScience\praca magisterska\raw-algorithm-portfolios-main\_archive\experiments\2025-03-05\531\600\database\run-plain-500-982911.db
C:\Users\zakrz\Documents\DataScience\praca magisterska\raw-algorithm-portfolios-main\_archive\experiments\2025-03-05\531\600\database\run-plain-500-982912.db
C:\Users\zakrz\Documents\DataScience\praca magisterska\raw-algorithm-portfolios-main\_archive\experiments\2025-03-05\531\600\database\run-plain-500-982913.db
C:\Users\zakrz\Documents\DataScience\praca magisterska\raw-algorithm-portfolios-main\_archive\experiments\2025-03-05\531\600\database\run-plain-500-982914.db
C:\Users\zakrz\Documents\DataScience\praca magisterska\raw-algorithm-portfolios-main\_archive\experiments\2025-03-05\531\600\database\run-plain-500-982915.db
C:\Users\zakrz\Documents\DataScience\praca magisterska\raw-algorithm-portfolios-main\_archive\experiments\2025-03-05\531\600\database\run-plain-500-982916.db
C:\Users\zakrz\Documents\DataScience\praca magisterska\raw-algorithm-portfolios-main\_archive\experiments\2025-03-05\531\600\database\run-plain-500-982917.db
C:\Users\zakrz\Documents\DataScience\praca magisterska\raw-algorithm-portfolios-main\_archive\experiments\2025-03-05\531\600\database\run-plain-500-982918.db
plain: 1.90

In [21]:
# % cutt-offs
def agg_prefix(prefix):
    times = {}
    for idx, db_path in enumerate(DIR.glob(f"{prefix}-*.db")):
        db = DB(db_path)
        results = pd.read_sql_query("SELECT * FROM results", db._conn)
        times[idx] = results.loc[
            results["prefix"].str.startswith("config")
            & results["cached"].eq(0)
            & results["surrogate"].eq(0),
            "cost"
        ].eq(MAX_COST).mean()
    return np.round(pd.Series(times).mean(), 2)

plain = agg_prefix(f"run-plain-{n}")
print(f"plain: {plain:.2f}")

plain: 0.71