In [1]:
import os
os.environ["SEED"] = "0"
import pandas as pd

from src.configuration_space.LKH import CONFIGURATION_SPACE
from src.constant import DATA_DIR
from src.database import DB
from src.instance.Instance import Instance
from src.instance.TSP_Instance import TSP_Instance, TSP_train_test_from_index_file
from src.solver.TSP_LKH_Solver import TSP_LKH_Solver

In [2]:
train_instances, test_instances = TSP_train_test_from_index_file(
    filepath=DATA_DIR / "TSP" / "CEPS_benchmark" / "index.json",
    train_size=5,
)
train_instances

InstanceList(size=5)[TSP_Instance(filepath=TSP/CEPS_benchmark/explosion/21.tsp), TSP_Instance(filepath=TSP/CEPS_benchmark/rotation/34.tsp), TSP_Instance(filepath=TSP/CEPS_benchmark/compression/09.tsp), TSP_Instance(filepath=TSP/CEPS_benchmark/implosion/34.tsp), TSP_Instance(filepath=TSP/CEPS_benchmark/linearprojection/25.tsp)]

In [3]:
instance = train_instances[0]
instance

TSP_Instance(filepath=TSP/CEPS_benchmark/explosion/21.tsp)

In [4]:
solver = TSP_LKH_Solver()
solver

Solver(id=52980316141715150)

In [5]:
future = solver.solve(instance)

[2024-12-23 22:27:34] DEBUG     Solver(id=52980316141715150) TSP_Instance(filepath=TSP/CEPS_benchmark/explosion/21.tsp) solving...
[2024-12-23 22:27:45] DEBUG     Solver.Result(solver=Solver(id=52980316141715150), instance=TSP_Instance(filepath=TSP/CEPS_benchmark/explosion/21.tsp), cost=100.00, time=10.00, cached=False)

In [10]:
future.result()

Solver.Result(solver=Solver(id=52980316141715150), instance=TSP_Instance(filepath=TSP/CEPS_benchmark/explosion/21.tsp), cost=100.00, time=10.00, cached=False)

In [6]:
db = DB()

In [7]:
pd.read_sql_query("SELECT * FROM instances", db._conn)

                   id                             filepath     optimum
0  855157651668393360  TSP/CEPS_benchmark/explosion/21.tsp  14928292.0

In [8]:
pd.read_sql_query("SELECT * FROM solvers", db._conn)

,id,ASCENT_CANDIDATES,BACKBONE_TRIALS,BACKTRACKING,CANDIDATE_SET_TYPE,EXTRA_CANDIDATES,EXTRA_CANDIDATE_SET_TYPE,GAIN23,GAIN_CRITERION,INITIAL_STEP_SIZE,...,MAX_BREADTH,MAX_CANDIDATES,MOVE_TYPE,PATCHING_A,PATCHING_C,POPULATION_SIZE,RESTRICTED_SEARCH,SUBGRADIENT,SUBSEQUENT_MOVE_TYPE,SUBSEQUENT_PATCHING
0,52980316141715150,0.6,1.0,0.0,0.0,0.7,0.0,1.0,0.0,0.0,...,0.444643,1.0,0.25,0.6,0.2,0.061224,0.0,0.0,5.0,1.0

In [9]:
pd.read_sql_query("SELECT * FROM results", db._conn)

,id,solver_id,instance_id,cost
0,52980316141715150_855157651668393360,52980316141715150,855157651668393360,100.0

In [11]:
import sys
import pickle

my_object = instance
in_memory_size = sys.getsizeof(my_object)
serialized_object = pickle.dumps(my_object)
serialized_size = len(serialized_object)

print(f"In-memory size: {in_memory_size} bytes")
print(f"Serialized size: {serialized_size} bytes")

In-memory size: 48 bytes
Serialized size: 3738 bytes